<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headTag :: headTag">
    <title>Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/thymol/dist/thymol.js"
         data-thymol-load="src/hello-attributes.js, src/planets-data.js"    
    ></script>
    <script src="dist/bundle.js"></script>
</head>

<body>
<div class="container">

    <div th:include="fragments/bodyHeader" th:remove="tag">
            
    </div>

    <h2 th:text="#{welcome}">Welcome!</h2>

    <table th:replace="fragments/footer :: footer" class="footer">

    </table>

</div>

    <h1>To the world...</h1>
    
    <p hello:sayto="World">Hi ya!</p>

    <h1>To each planet...</h1>

    <ul>
      <li th:each="planet : ${planets}" hello:saytoplanet="${planet}">Hi Planet X!</li>
    </ul>

    <script>
        console.log('index.html');
    </script>

</body>

</html>